body {
  padding-top: 70px;
  padding-bottom: 30px;
}

h3 {
  margin-top: 40px;
}

.page-header {
  background: url('../img/clickbait-logo.svg') no-repeat;
  background-size: cover;
  background-position: center;
  margin-top:0;
  
}

.page-header h1 {
  padding-top: 50px;
  padding-bottom: 250px;
  padding-left: 50px;
  color:rgb(245,245,245);
}

pre { font-family: monospace; }

ol {
  list-style: none;
  padding-left: 10px;
  margin-bottom: 0px;
}

#instructions {
  counter-reset: mycounter;
}

ol > li {
  counter-increment: mycounter;
}

ol > li:before {    
   content: counter(mycounter) ".";
   margin-right: 10px;
   font-size:2em;
}

.table td:first-child {
    text-align: right;
}​

ul > li {
  margin-bottom: 10px;
}

blockquote {background: #f9f9f9; font-size:16px;}
blockquote:before {
  quotes:"\201C""\2018";
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.to-appear { color:gray; }

.logo {
max-width: 300px;
margin: 10px auto;
}

.table > tbody > tr > td{
  border-top: none;
}
